<!DOCTYPE html>
<html>
  <head>
    <title>STT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <div>
      <%= link_to "Home", "/home", class: "nav-link" %>
      <%= link_to "SpeechToText", "/stt", class: "nav-link" %>
      <%= link_to "TextToSpeech", "/tts", class: "nav-link" %>
    </div>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
